<div class="wrapper">
  <form class="form" [formGroup]="bidForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Bid Price</mat-label>
      <input type="text" class="right-align" matInput formControlName="price" />
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>{{suffix}}</span>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Bid Volume</mat-label>
      <input type="number" class="right-align" matInput formControlName="volume" />
    </mat-form-field>

    <section class="btn_section">
      <button type="reset" mat-stroked-button>Reset Trade</button>
      <button mat-raised-button color="primary">Trade</button>
    </section>
  </form>
</div>