.wrapper {
    width: 22rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
}

.form {
    display: flex;
    flex-direction: column;
}

.submit_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formField{
    margin-bottom: 1rem;
}