<div class="wrapper">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="formField" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Client ID</mat-label>
            <input matInput placeholder="Client ID" formControlName="clientID">

            @if (loginForm.get('clientID')?.hasError('required')){
            <mat-error>Please enter valid Client ID</mat-error>
            }

            @if(loginForm.get('clientID')?.hasError('pattern')){
            <mat-error>Client ID must be alpha numeric value</mat-error>
            }

        </mat-form-field>

        <mat-form-field class="formField" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            @if (loginForm.get('password')?.hasError('required')){
            <mat-error>Please enter Password</mat-error>
            }

            @if(loginForm.get('password')?.hasError('pattern')){
            <mat-error>"Password needs 8 characters: 1 uppercase, 1 lowercase, 1 number, 1 special symbol."</mat-error>
            }

        </mat-form-field>

        <div class="submit_section">
            <mat-checkbox color="primary" (click)="rememberMeState()">Remember me</mat-checkbox>
            <button mat-raised-button color="primary">Login</button>
        </div>
    </form>
</div>