<div class="wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">


        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element;let i = index">{{i+1}} </td>
        </ng-container>


        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}}</td>
        </ng-container>


        <ng-container matColumnDef="volume">
            <th mat-header-cell *matHeaderCellDef> Volume </th>
            <td mat-cell *matCellDef="let element">{{element.volume}} </td>
        </ng-container>


        <ng-container matColumnDef="side">
            <th mat-header-cell *matHeaderCellDef> Side </th>
            <td mat-cell *matCellDef="let element"> {{element.side}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>

        <ng-container matColumnDef="cancel">
            <th mat-header-cell *matHeaderCellDef> Cancel Order </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="cancelOrder(element._id)">Cancel</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>