<div class="wrapper">
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="formField" appearance="outline" subscriptSizing="dynamic">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="first_name">

            @if (registerForm.get('first_name')?.hasError('required')){
            <mat-error>Please enter valid First name</mat-error>
            }

            @if(registerForm.get('first_name')?.hasError('pattern')){
            <mat-error>First name only contains alphabetic characters</mat-error>
            }

        </mat-form-field>

        <mat-form-field class="formField" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="last_name">

            @if (registerForm.get('last_name')?.hasError('required')){
            <mat-error>Please enter valid last name</mat-error>
            }

            @if(registerForm.get('last_name')?.hasError('pattern')){
            <mat-error>Last name only contains alphabetic characters</mat-error>
            }

        </mat-form-field>


        <mat-form-field class="formField" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Client ID</mat-label>
            <input matInput placeholder="Client ID" formControlName="clientID">

            @if (registerForm.get('clientID')?.hasError('required')){
            <mat-error>Please enter valid Client ID</mat-error>
            }

            @if(registerForm.get('clientID')?.hasError('pattern')){
            <mat-error>Client ID must be alpha numeric value</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="formField" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            @if (registerForm.get('password')?.hasError('required')){
            <mat-error>Please enter Password</mat-error>
            }

            @if(registerForm.get('password')?.hasError('pattern')){
            <mat-error>"Password needs 8 characters: 1 uppercase, 1 lowercase, 1 number, 1 special symbol."</mat-error>
            }

        </mat-form-field>

        <div class="submit_section">
            <button type="reset" mat-stroked-button color="primary" (click)="dialogRef.close()">Back</button>
            <button mat-raised-button color="primary">Register</button>
        </div>
    </form>
</div>