<div class="wrapper">
    <header class="header">
        <span class="spacer"></span>
        <button mat-raised-button color="primary" (click)="openRegisterPage()">Register</button>
    </header>
    <main class="main">
        <router-outlet />
    </main>
    <footer class="footer">
        <p>created by <a href="#">Pranav Joshi</a></p>
    </footer>
</div>