.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    width: 100%;
    height: 4rem;
}

.header {
    border-bottom: 1px solid var(--border-color);
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

.main {
    width: 100%;
    height: calc(100% - 8rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}