<div class="wrapper">
  <div class="bidTable">
    <table mat-table [dataSource]="bidDataSource" class="mat-elevation-z0">
      <ng-container matColumnDef="bidVolume">
        <th mat-header-cell *matHeaderCellDef>Volume</th>
        <td mat-cell *matCellDef="let element">{{ element.volume }}</td>
      </ng-container>

      <ng-container matColumnDef="bid">
        <th mat-header-cell *matHeaderCellDef>Bid</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="bidDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: bidDisplayedColumns"></tr>
    </table>
  </div>

  <div class="askTable">
    <table mat-table [dataSource]="askDataSource" class="mat-elevation-z0">
      <ng-container matColumnDef="ask">
        <th mat-header-cell *matHeaderCellDef>Ask</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="askVolume">
        <th mat-header-cell *matHeaderCellDef>Volume</th>
        <td mat-cell *matCellDef="let element">{{ element.volume }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="askDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: askDisplayedColumns"></tr>
    </table>
  </div>
</div>
