<div class="wrapper">
  <header class="header">
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </header>
  <main class="main">
    <div class="drawer">
      <mat-tab-group>
        <mat-tab label="Bid"> <app-bid-form (updateData)="transaction.fetchData()"></app-bid-form> </mat-tab>
        <mat-tab label="Ask"> <app-ask-form (updateData)="transaction.fetchData()"></app-ask-form> </mat-tab>
      </mat-tab-group>
      <mat-divider></mat-divider>

      <div class="stock">
        <mat-card class="card">
          <mat-card-content>
            <strong>Total Volume:</strong>
          </mat-card-content>
        </mat-card>

        <mat-card class="card">
          <mat-card-content>
            <strong>Your Shared Volume:</strong>
          </mat-card-content>
        </mat-card>

        <mat-card class="card">
          <mat-card-content>
            <strong>Remained Volume:</strong>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
    <div class="container">
      <div class="history">
        <app-client-transaction-history #transaction></app-client-transaction-history>
      </div>
      <div class="table">
        <app-orderbook-table></app-orderbook-table>
      </div>
    </div>
  </main>
  <footer class="footer"></footer>
</div>