.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  width: 100%;
  height: 4rem;
}

.header {
  border-bottom: 1px solid var(--border-color);
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.footer {
  border-top: 1px solid var(--border-color);
}

.main {
  width: 100%;
  height: calc(100% - 8rem);
  display: flex;
  justify-content: space-between;
}

.drawer {
  width: 20rem;
  border-right: 1px solid var(--border-color);
}

.container {
  width: calc(100% - 20rem);
  display: flex;
  justify-content: space-between;
}

.history {
  width: 50%;
}

.table {
  width: 50%;
  border-left: 1px solid var(--border-color);
}

.spacer {
  flex: 1 1 auto;
}


.stock {
  padding: 1rem;
}

.card{
  margin-bottom: 1rem;
}