.wrapper {
    width: 100%;
    padding: 1rem;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-align {
    text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
    display: none;
}

input.right-align {
    -moz-appearance: textfield;
}